# Copy to .env

# Network to use in config
NETWORK=

# Go to https://www.alchemyapi.io, sign up, create
# a new App in its dashboard, and replace "KEY" with its key
ALCHEMY_MAINNET_KEY=
ALCHEMY_GOERLI_KEY=
ALCHEMY_RINKEBY_KEY=
ALCHEMY_ROPSTEN_KEY=

# Your API key for Etherscan
# Obtain one at https://etherscan.io/
ETHERSCAN_API_KEY=

# Replace these private keys with your testnet account private keys
# To export your private key from Metamask, open Metamask and
# go to Account Details > Export Private Key
# Be aware of NEVER putting real Ether into testing accounts
GOERLI_PRIVATE_KEY=
RINKEBY_PRIVATE_KEY=
ROPSTEN_PRIVATE_KEY=

# Chainlink BTC-ETH Price Feeds
# from: https://docs.chain.link/docs/ethereum-addresses#config
CHAINLINK_MAINNET_PRICE_FEED=0xdeb288F737066589598e9214E782fa5A8eD689e8
CHAINLINK_KOVAN_PRICE_FEED=0xF7904a295A029a3aBDFFB6F12755974a958C7C25
CHAINLINK_RINKEBY_PRICE_FEED=0x2431452A0010a43878bF198e170F6319Af6d27F4